{% extends "templates/base.html" %}

{% block navpills %}
<ul class="nav nav-pills nav-justified">

  <li {% ifequal page "recent" %} class="active" {% endifequal %}
      id = "recent-posts-button">
    <a href="/recent?selected={{selected}}">Latest Posts</a>
  </li>

  <li {% ifequal page "selected" %} class="active" {% endifequal %}
      id = "selected-post-button">
    <a href="/selected?selected={{selected}}">
      Selected Post
    </a>
  </li>

  <li {% ifequal page "tree" %} class="active" {% endifequal %}
      id = "tree-button">
    <a href="/navigate?selected={{selected}}">
      Navigate
    </a>
  </li>

</ul>
{% endblock %}
