{% extends "templates/base.html" %}

{% block navpills %}
<ul class="nav nav-pills nav-justified">

  <li {% ifequal page "recent" %} class="active" {% endifequal %}
      id = "recent-posts-button">
    <a href="/recent{% if selected %}?selected={{selected}}{% endif %}">Recent Posts</a>
  </li>

  {% if selected%}
  <li {% ifequal page "selected" %} class="active" {% endifequal %}
      id = "selected-post-button">
    <a href="/selected?selected={{selected}}">
      Selected Post
    </a>
  </li>
  {% endif %}

  <li>
    <a href="#">Menu 2</a>
  </li>

  <li>
    <a href="#">Menu 3</a>
  </li>

</ul>
{% endblock %}
