{% extends "templates/base.html" %}

{% block navpills %}
<ul class="nav nav-pills nav-justified">

  <li {% ifequal page "recent" %} class="active" {% endifequal %}
      id = "recent-posts-button">
    <a href="/recent{% if selected %}?selected={{selected}}{% endif %}">Recent Posts</a>
  </li>

  <li {% ifequal page "top-level" %} class="active" {% endifequal %}
      id = "top-level-posts-button">
    <a href="/top-level{% if selected %}?selected={{selected}}{% endif %}">Top-level posts</a>
  </li>

  {% if selected%}
  <li {% ifequal page "selected" %} class="active" {% endifequal %}
      id = "selected-post-button">
    <a href="/selected?selected={{selected}}">
      Selected Post
    </a>
  </li>

  <li {% ifequal page "tree" %} class="active" {% endifequal %}
      id = "tree-button">
    <a href="/tree?selected={{selected}}">
      Tree
    </a>
  </li>
  {% endif %}

</ul>
{% endblock %}
