{% extends "templates/base.html" %}

{% block content %}
<h1>
  Compose post
</h1>

<form action="/addpost" method="post">
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" name="title" class="form-control" placeholder="Enter title">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleTextarea">Heading</label>
    <textarea class="form-control" name="heading" rows="3" placeholder = "Enter heading"></textarea>
    <small class="text-muted">This is where you put the heading</small>
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
