{% extends "templates/base_pills.html" %}

{% block content %}
<div id = "popover-container"></div>
<svg width="1200" height="1200" id="post-tree"
     xmlns:xlink="http://www.w3.org/1999/xlink">

  {% for node in nodes %}

  {% ifequal node.node-type "selected" %}
  <rect x="{{node.rect-x}}" y="{{node.rect-y}}" width="1200" height="{{node.rect-height}}"
        style="fill:yellow;fill-opacity:0.5;" />
  <a xlink:href="/selected?selected={{node.post-id}}" >
    <text id="foo" x="{{node.x}}" y="{{node.y}}">{{node.title}} {% if node.root %}(project root){% endif %}</text>
  </a>

  {% else %}

  <a xlink:href="/navigate?selected={{node.post-id}}" >
    <text id="foo" x="{{node.x}}" y="{{node.y}}">{{node.title}} {% if node.root %}(project root){% endif %}</text>
  </a>

  {% endifequal %}

  {% if node.arrow-points %}
  <polyline points="{{node.arrow-points}}"
            style="fill:none;stroke:#AFCFFF;stroke-width:2" />
  {% endif %}

  {% endfor %}
</svg>
{% endblock %}

{% block scripts %}

<script language = "javascript">

  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
  });

  linkMap = {{link-map|safe}};

   $("#post-tree a").each(function() {
    var href = $(this).attr("xlink:href");
    if (href in linkMap) {
      $(this).popover({content: linkMap[href].content, trigger: "hover", html:true, container: "#popover-container", placement: "bottom"});
      $(this).mouseover(function () { MathJax.Hub.Queue(["Typeset",MathJax.Hub, "popover-container"])});
    }
  });

</script>

{% endblock %}

