{% extends "templates/base_pills.html" %}

{% block content %}

{% if post %}
<div class = "row">
  <div class = "col-sm-8">
    <h2>{{post.title}}</h2>
    <div id="post-actions">
      Posted by {{post.author}}, {{post.date}}.
      <a href="#add-child-modal" class="btn btn-primary btn-xs" data-toggle="modal">New child post</a>
      <a href ="/edit?selected={{selected}}" class="btn btn-primary btn-xs">edit</a>
      <a href="#confirm-delete" class="btn btn-primary btn-xs" data-toggle="modal">delete</a>
    </div>
    <p>{{post.processed_content|safe}}</p>
  </div>
  <div id="parent-child-column" class = "col-sm-4">

    <p>Parents:
    {% if parents %}
    {% for parent in parents %}
    </p>
    <p>
      <a href="/selected?selected={{parent.id}}">{{parent.title}}</a>
    </p>
    {% endfor %}
    {% else %}
    None
    </p>
    {% endif %}
    <p>Children:
    {% if children %}
    </p>
    {% for child in children %}
    <p>
      <span style="color:{{child.edge-colour}}">({{child.edge_type}})</span>
      <a href="/selected?selected={{child.id}}">{{child.title}}</a>
    </p>
    {% endfor %}
    {% else %}
    None
  </p>
    {% endif %}
  </div>

</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Confirm deletion
      </div>
      <div class="modal-body">
        Are you sure you want to delete the post "{{post.title}}"?
      </div>
      <div class="modal-footer">
        <form action="/delete-post" method="post">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="hidden" name="id" value="{{selected}}" />
          <input class="btn btn-danger btn-ok" type="submit" value="Delete"/>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="add-child-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create child post</h4>
      </div>
      <form action="/compose" method="get">
        <input type="hidden" name="parent-title" value="{{post.title}}" />
        <div class="modal-body">
          <p>Enter the link type from this post to the child post.</p>
          <div id = "new-child-link-type">
            <input id="new-child-link-type-input" name="link-type" class="typeahead form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <input class="btn btn-danger btn-ok" type="submit" value="Ok"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>

  </div>
</div>
{% else %}

<h1>
  Post Not Found
</h1>

{% endif %}
{% endblock %}

{% block scripts %}
<script src='typeahead.bundle.js'></script>

<script language = "javascript">
  linkTypes = {{link-types|safe}}

  // constructs the suggestion engine for link types
  var linkTypeBH = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: linkTypes
  });

  $('#new-child-link-type .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
                                                  {
    name: 'new-child-link-type',
    source: linkTypeBH
  });
</script>

{% endblock %}
