{% extends "templates/base_pills.html" %}

{% block content %}
<svg width="1200" height="1200" id="post-tree"
     xmlns:xlink="http://www.w3.org/1999/xlink">
  <rect x="0" y="7" width="15" height="15"
        style="fill:{{colours.TryWeakerQuestion}};" />
  <text id="foo" x="20" y="20">TryWeakerQuestion</text>
  <rect x="250" y="7" width="15" height="15"
        style="fill:{{colours.LookForSomethingMoreSpecific}};" />
  <text id="foo" x="270" y="20">LookForSomethingMoreSpecific</text>
  <rect x="500" y="7" width="15" height="15"
        style="fill:{{colours.ClarifyQuestion}};" />
  <text id="foo" x="520" y="20">ClarifyQuestion</text>
  <rect x="750" y="7" width="15" height="15"
        style="fill:{{colours.EvaluateApproach}};" />
  <text id="foo" x="770" y="20">EvaluateApproach</text>

  <rect x="0" y="32" width="15" height="15"
        style="fill:{{colours.ClarifyConcept}};" />
  <text id="foo" x="20" y="45">ClarifyConcept</text>
  <rect x="250" y="32" width="15" height="15"
        style="fill:{{colours.MoreDetails}};" />
  <text id="foo" x="270" y="45">MoreDetails</text>
  <rect x="500" y="32" width="15" height="15"
        style="fill:{{colours.default}};" />
  <text id="foo" x="520" y="45">Other</text>



  {% for node in nodes %}
  {% if node.multipost %}
  {% for post in node.posts %}
  <a xlink:href="/navigate?selected={{post.id}}" >
    <text id="foo" x="{{node.x}}" y="{{post.y}}">Ancestor: {{post.title}}</text>
  </a>
  {% endfor %}
  {% else %}

  {% ifequal node.node-type "selected" %}
  <rect x="{{node.rect-x}}" y="{{node.rect-y}}" width="1200" height="{{node.rect-height}}"
        style="fill:yellow;fill-opacity:0.5;" />
  {% endifequal %}

  {% if node.arrow-points %}
  <polyline points="{{node.arrow-points}}"
            style="fill:none;stroke:{{node.edge-colour}};stroke-width:2" />
  {% endif %}
  <a xlink:href="/navigate?selected={{node.post-id}}" >
    <text id="foo" x="{{node.x}}" y="{{node.y}}">{{node.title}}</text>
  </a>
  {% endif %}

  {% endfor %}
</svg>
{% endblock %}

